body{
    background-color: #B9C7CA;
}

.me{
    font-size: 75px;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    
}

#job{
    font-size: 45px;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

nav{
    align-items: right;
    margin: 200px;   
}


.aboutMe{
    font-size: 100px;
    font-weight: bold;
    color: #825D6F;
    align-items: center;
}

.projects{
    font-size: 75px;
    font-weight: bold;
    color: #0F4C81;
}

.card{
    background-color: #e2faff;
    border-radius: 10%;
    width: 50%;

}

.navbar{
    padding-top: 0%;
    margin-top: 3%;

}







