body{
    background-color: hsl(197, 25%, 78%);
    background-image: url(./assets/ae171736a009cc02bfe7825c66dcb1ac.jpg) ;

}

#me{
    font-size: 75px;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

.container-lg{
    padding-top: 10%;
}

#job{
    font-size: 45px;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

nav{
    align-items: right;
    margin: 200px;  
}


#aboutMe{
    font-size: 75px;
    font-weight: bold;
    color: #825D6F;
    /* align-items: left; */
}

#face{
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

#projects{
    font-size: 75px;
    font-weight: bold;
    color: #0F4C81;    
    padding-top: 5%;
    margin-bottom: 5%;
}

#proj{
    margin-bottom: 5%;

}

.col-sm-6{
    margin-bottom: 13px;
}

.card{
    background-color: #9a959b;
    border-radius: 7%;
    width: 50%;
    margin-left: 23%;
}
.btn-primary{
    background-color: firebrick;
}


.navbar{
    padding-top: 0%;
    margin-top: 1%;

}
#Connect{
    text-align: right;
    margin-right: 3%;
    font-size: 75px;
}

/* .container-sm{
    text-align: left;
} */

#landing{
    padding-bottom: 15%;
    padding-top: 15%;
}


#about{
    padding-bottom: 15%;
    padding-top: 15%;
}

#contact{
    padding-top: 15%;
    padding-bottom: 15%;
    font-family:'Inconsolata', monospace
}

.footer{
    text-align: center;
}


#contactform{
    text-align: right;
}




